:root {
  // FONTS
  --main-font: 'TT Hoves Pro Trial', sans-serif;

  // TEXT COLORS
  --main-cl: #18181b;
  --accent-cl: #b5d7fc;
  --white-cl: #ffffff;
  --title-cl: #18181b;

  // BG COLORS
  --main-bg: #ffffff;
  --accent-bg: #b5d7fc;
  --white-bg: #fff;
}
